repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: fix-byte-order-marker

      - id: check-json
      - id: check-json5
      - id: check-yaml
      - id: check-toml
      - id: check-xml

      - id: check-case-conflict

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.4
    hooks:
      - id: ruff-check
        args: [ --fix ]
      - id: ruff-format

  - repo: https://github.com/tombi-toml/tombi-pre-commit
    rev: v0.7.33
    hooks:
      - id: tombi-format
      - id: tombi-lint
